 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: 'Trebuchet MS', sans-serif;
     height: 200vh;
     background-color: #0d2f39;
     overflow-x: hidden;
 }

 .hermez-header {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 250px;
     background: linear-gradient(180deg, #1ab6e2, #18a3c9);
     clip-path: ellipse(80% 100% at 50% 0%);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     transition: all 0.7s ease;
     z-index: 10;
     color: black;
 }

 .hermez-header.scrolled {
     height: 80px;
     clip-path: inset(0 0 0 0 round 0);
     background: #11748b;
     flex-direction: row;
     justify-content: space-between;
     padding: 0 2rem;
 }

 /* --- Logo and Title --- */
 .hermez-logo-container {
     display: flex;
     align-items: center;
     gap: 1rem;
     transition: all 0.7s ease;
 }

 .hermez-logo-container img {
     width: 120px;
     height: auto;
     transition: all 0.7s ease;
 }

 .hermez-header.scrolled .hermez-logo-container img {
     width: 60px;
 }

 .hermez-title {
     font-size: 3rem;
     font-weight: 800;
     color: #ffcd00;
     transition: all 0.7s ease;
 }

 .hermez-header.scrolled .hermez-title {
     font-size: 1.5rem;
 }

 .hermez-domain {
     font-size: 1.5rem;
     color: black;
     font-weight: 700;
     transition: all 0.7s ease;
 }

 .hermez-header.scrolled .hermez-domain {
     font-size: 1rem;
 }

 .hermez-tagline {
     margin-top: 0.5rem;
     font-style: italic;
     font-size: 1.1rem;
     transition: opacity 0.5s ease;
 }

 .hermez-header.scrolled .hermez-tagline {
     opacity: 0;
 }

 main {
     margin-top: 260px;
     padding: 2rem;
 }

 .car-grid {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     gap: 1rem;
 }

 .car {
     width: 200px;
     height: 200px;
     border-radius: 15px;
     border: 2px solid black;
     background-color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .car:nth-child(1) {
     background-color: #21b44f;
 }

 .car:nth-child(2) {
     background-color: #bfa5a5;
 }

 .car:nth-child(3) {
     background-color: #f47c46;
 }

 .car:nth-child(4) {
     background-color: #a250c2;
 }

 .car:nth-child(5) {
     background-color: #d7f58e;
 }

 .car:nth-child(6) {
     background-color: #44b980;
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .car-type-body {
     background: rgba(21, 31, 40, 0.81);
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(7.6px);
     -webkit-backdrop-filter: blur(7.6px);
     border: 1px solid rgba(21, 31, 40, 0.3);
     min-height: 100vh;
     display: flex;
     flex-direction: column;
 }