* {
  margin: 0;
  padding: 0;
}
.car-type-body{
  background: rgba(21, 31, 40, 0.81);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(21, 31, 40, 0.3);
}
.nav-bar{
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  background-blend-mode: darken;
  background-size: cover;
  height: auto;
  width: 100%;
  padding: 10px;

  background: rgba(35, 196, 236, 0.837);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(82, 185, 216, 0.3);
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  margin: 0 20px;
  text-align: center;
}

.nav-list li:last-child {
  margin-left: 20vw;
}


.car-type-cards{
    display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto auto auto;
  gap: 10px;
  margin-top: 5px;
  grid-auto-flow: row;
}

.car-type-cards div {
  border: 2px solid black;
  max-width: 400vw;
  max-height: 400vw;
  text-align: center;
  border-radius: 18px;
  padding: 10px;
  transition: ease-in 0.3s;
  cursor: pointer;
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.car-type-cards div:hover {
  text-transform: uppercase;
  transform: scale(1.12);
}

@media (max-width: 768px) {
  .car-type-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.form-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  height: auto;
  width: 30%;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
  border: 1px solid rgba(132, 111, 111, 0.3);
  background: rgba(132, 111, 111, 0.58);
}

.content-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  height: auto;
  width: 70%;
}

.main-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1px;
  margin: 0px;
  padding: 20px;
  height: auto;
  width: 100%;
}